Set-ExecutionPolicy -Scope CurrentUser Bypass
$Env:ORACLE_HOST            = "bdodscp.petrobras.com.br"
$Env:ORACLE_PORT            = 1521
$Env:ORACLE_SERVICE         = "odscp.petrobras.com.br"
$Env:ORACLE_USER            = "<usuario>"
$Env:ORACLE_PASSWORD        = "<senha>"
$Env:ORACLE_HOME            = "C:\Users\Public\trabalho\projetos\sap-role-recommender\instantclient_21_10"
$Env:BIRH_DATA              = "./DATA/birh.parquet"
$Env:SAP_USER_ROLES_CSV     = "./DATA/chaveXperfil.csv"
$Env:DATASET                = "./DATA/dataset.parquet"
$Env:USER_ROLES             = "./DATA/user-roles.parquet"
$Env:ORGUNIT_ROLES          = "./DATA/orgunit-roles.parquet"
$Env:FUNCTION_ROLES         = "./DATA/function-roles.parquet"
$Env:HASHED_FEATURES        = "./DATA/hashed_features.dat"
$Env:HASHED_FEATURES_IDX    = "./DATA/hashed_features_idx.parquet"
$Env:USE_SPARSE             = "True"
$Env:SHINGLER_N             = "6"
$Env:HASHED_FEATURE_COUNT   = "500000"
$Env:KNN_RANDOM_STATE       = "42"
$Env:KNN_METRIC             = "cosine"
$Env:KNN_NEIGHBORS          = "250"
$Env:KNN_INDEX              = "./DATA/knn_index.pickle"
